.App {
  text-align: center;
}

.App-header {
  background-color: #5d6c8a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username{
  font-size: 30px;
  padding-bottom: 20px;
  text-decoration: underline;
  color: rgb(249, 238, 255);
}

input {
  margin-top: 10px;
  width: 200px;
  font-size: 20px;
}

.search {
  margin-bottom: 30px;
  border-radius: 5px;
  background-color:rgb(174, 112, 232);
  padding: 5px;
}

#reposTitle {
  font-size: 25px;
  color: rgb(249, 238, 255);
  background-color: rgb(226, 181, 250);
  width: 250px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}

button {
  width: 250px;
  overflow-wrap: break-word;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(219, 206, 232);
  font-size: 20px;
  margin: 15px;
}

#modal {
  background-color: aliceblue;
  width: 500px;
  height: 350px;
  color: black;
  visibility: hidden;
  /* text-align: center; */
}

#modal > h2 {
  font-size: 35px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
#modal > p {
  font-size: 28px;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}